<mat-card>
    <mat-action-list class="text-center" >
        <div mat-subheader>Menu</div>
        <button mat-list-item><mat-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink="profile"><mat-icon>account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="categories"><mat-icon>view_list</mat-icon> Categories</button>
        <button mat-list-item routerLink="add-category"><mat-icon>note_add</mat-icon> Add Category</button>
        <button mat-list-item routerLink="medicines"><mat-icon>panorama_fish_eye</mat-icon> View All Medicines</button>
        <button mat-list-item routerLink="add-medicine"><mat-icon>add</mat-icon> Add Medicine</button>
    </mat-action-list>
</mat-card>


