<mat-toolbar color="primary">
    <div class="logo"><a routerLink=""><img src="../../assets/logo.png" height="64px" alt=""></a></div>
    <div class="search d-none d-md-flex">
           <input  placeholder="Search for medicine & wellness products…" width="" type="text"/>
           <div class="search-icon ">
                <mat-icon>search</mat-icon>
           </div>
    </div>    
    <div class="header-btn">
        <ul class="cart">
            <li><a href="#">
                <!-- <mat-icon matBadge="2" matBadgeColor="accent">shopping_cart</mat-icon> -->
                <span matBadge="0" matBadgeColor="warn"><mat-icon>shopping_cart</mat-icon></span>
            </a></li>
        </ul>
        <ul class="profile-login">
            <li>
                <a href="#"><mat-icon>account_circle</mat-icon></a>
            </li>
            <li>
                <a routerLink="/login">Sign in/Sign up</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
<mat-toolbar color="primary">
    <div class="container text-center">
        <ul>
            <li><a mat-button href="">Cat1</a></li>
            <li><a mat-button href="">Cat2</a></li>
            <li><a mat-button href="">Cat3</a></li>
        </ul>
    </div>
</mat-toolbar>

