<mat-toolbar color="primary">
  <div class="logo">
    <a routerLink=""
      ><img src="../../assets/logo.png" height="64px" alt=""
    /></a>
  </div>
  <div *ngIf="isAdmin && !isAdminMedicinePage()" class="admin-link">
    <a routerLink="admin/profile"><mat-icon>dashboard</mat-icon></a
    ><a routerLink="admin/profile">Admin DashBoard</a>
  </div>
  <div
    *ngIf="!isAdmin || isAdminMedicinePage()"
    class="search d-none d-md-flex"
  >
    <input
      placeholder="Search for medicine & wellness products…"
      width=""
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange()"
    />
    <div class="search-icon">
      <mat-icon>search</mat-icon>
    </div>
  </div>
  <div class="header-btn">
    <ul class="cart">
      <li>
        <a routerLink="cart">
          <span
            [matBadge]="cartItemNum"
            [matBadgeHidden]="!cartItemNum"
            matBadgeColor="warn"
            ><mat-icon>shopping_cart</mat-icon></span
          >
        </a>
      </li>
    </ul>
    <ul class="profile-login">
      <li>
        <a href="#"><mat-icon>account_circle</mat-icon></a>
      </li>
      <li>
        <a *ngIf="!loggedIn" routerLink="/login">Sign in/Sign up</a>
        <a *ngIf="loggedIn" routerLink="">{{ user.firstName }},</a>
      </li>
      <li *ngIf="loggedIn">
        <a><mat-icon>logout</mat-icon></a>
      </li>
      <li>
        <a (click)="logout()" *ngIf="loggedIn" routerLink=""> logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
<mat-toolbar *ngIf="!isAdmin && isProductPage()" color="primary">
  <div class="container text-center">
    <ul class="secondary-btn">
      <li>
        <a mat-button (click)="setCategory('all')">All Products</a>
      </li>
      <li *ngFor="let cat of categories">
        <a mat-button routerLink="" (click)="setCategory(cat.name)">{{
          cat.name
        }}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
