<mat-card>
  <div class="container p-5" >
    <div class="row">
      <div class="col-md-6">
        <h3>Add Medicine</h3>
        <form action="" >
          <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" required />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Brand Name</mat-label>
              <input matInput placeholder="Brand Name" required/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Price</mat-label>
              <input matInput placeholder="Price" type="number" required />
            </mat-form-field>
          </p>
        </form>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</mat-card>
