<div class="container">
  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Search Medicines</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let medicine of medicines">
      <mat-card class="example-card mt-3">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ medicine.name }}</mat-card-title>
            <mat-card-subtitle>{{ medicine.brand }}</mat-card-subtitle>
            <img mat-card-sm-image src="{{ baseUrl + medicine.imageName }}" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            <b><span>&#8377;</span> {{ medicine.price }}</b>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color="accent" mat-stroked-button>UPDATE</button>
          <button color="warn" class ="ms-2" mat-stroked-button (click)="deleteMed(medicine.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
