<div class="container-fluid medicine">
  <div class="row" *ngFor="let medicine of medicines">
    <div class="col-md-3">
      <mat-card class="m-5 p-3 text-center">
        <img
          src="https://www.netmeds.com/images/product-v1/600x600/316749/hamdard_safi_syrup_500_ml_0.jpg"
          [alt]="medicine.name"
          style="max-height: 100px; max-width: 100px;"
        />

        <mat-card-title>{{ medicine.name }}</mat-card-title>
        <mat-card-subtitle>{{ medicine.brand }}</mat-card-subtitle>

        <br />

        <p>
          <b><span>&#8377;</span> {{ medicine.price }}</b>
        </p>

        <mat-card-actions>
          <button mat-flat-button color="primary" style="width: 100%">
            Add to Cart
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="m-5 p-3 text-center">
        <img
          src="https://www.netmeds.com/images/product-v1/600x600/316749/hamdard_safi_syrup_500_ml_0.jpg"
          [alt]="medicine.name"
          style="max-height: 100px; max-width: 100px;"
        />

        <mat-card-title>{{ medicine.name }}</mat-card-title>
        <mat-card-subtitle>{{ medicine.brand }}</mat-card-subtitle>

        <br />

        <p>
          <b><span>&#8377;</span> {{ medicine.price }}</b>
        </p>

        <mat-card-actions>
          <button mat-flat-button color="primary" style="width: 100%">
            Add to Cart
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="m-5 p-3 text-center">
        <img
          src="https://www.netmeds.com/images/product-v1/600x600/316749/hamdard_safi_syrup_500_ml_0.jpg"
          [alt]="medicine.name"
          style="max-height: 100px; max-width: 100px;"
        />

        <mat-card-title>{{ medicine.name }}</mat-card-title>
        <mat-card-subtitle>{{ medicine.brand }}</mat-card-subtitle>

        <br />

        <p>
          <b><span>&#8377;</span> {{ medicine.price }}</b>
        </p>

        <mat-card-actions>
          <button mat-flat-button color="primary" style="width: 100%">
            Add to Cart
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="m-5 p-3 text-center">
        <img
          src="https://www.netmeds.com/images/product-v1/600x600/316749/hamdard_safi_syrup_500_ml_0.jpg"
          [alt]="medicine.name"
          style="max-height: 100px; max-width: 100px;"
        />

        <mat-card-title>{{ medicine.name }}</mat-card-title>
        <mat-card-subtitle>{{ medicine.brand }}</mat-card-subtitle>

        <br />

        <p>
          <b><span>&#8377;</span> {{ medicine.price }}</b>
        </p>

        <mat-card-actions>
          <button mat-flat-button color="primary" style="width: 100%">
            Add to Cart
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
